{% extends "::base.html.twig" %}

{% block title %}JbnahanScoolBundle:Student:register{% endblock %}

{% block body %}
<h1>Welcome to the Student:register page</h1>
<form action="" method="POST" novalidate="novalidate">
    <p>{{ form_row(form.firstName) }}</p>
    
    <p>{{ form_row(form.LastName) }}</p>
    
    <p>{{ form_row(form.bornOn) }}</p>
</form>

{% endblock %}
